main{
    height: 100dvh;
    width: 100dvw;
}

#tab_nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 80px;
    background-color: var(--nav-color);
}
#tab_nav button{
    background: none;
    border: none;
}