:root{
    --main-color: #222222;
    --nav-color:  oklch(from var(--main-color) calc(l - 0.02) c h);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
}